.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

#graficoPizza {
    max-width: 100%;
    height: auto;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.btn-custom {
    margin-right: 5px;
}
