<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Transações</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/transacoes/styles.css">
</head>
<body>
    <!-- Navbar -->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Essentia Invest" height="40"></a>
            <div class="ml-auto">
                <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <h2 class="text-center">Lista de Transações</h2>

        <div class="container mt-5">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="alert alert-info">
                        <h4>Total de Compras: <p>R$ {{ totais.compras }}</p></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-info">
                        <h4>Total de Bonificações: <p>R$ {{ totais.bonificacoes }}</p></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-info">
                        <h4>Total de Vendas: <p>R$ {{ totais.vendas }}</p></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-info text-center">
            <h4>Total de Movimentação: <p>R$ {{ total_movimentacao }}</p></h4>
        </div>

        <!-- Gráfico de Movimentação Mensal -->
        <div class="container mt-5">
            <h3 class="text-center">Gráfico de Movimentação Mensal</h3>
            <canvas id="transacoesChart" width="400" height="200"></canvas>
        </div>

        <div class="container mt-5">
            <h3 class="text-center">Transações Por Ativo</h3>
        
            <!-- Select Dropdown -->
            <div class="form-group">
                <label for="selectAtivo" class="h5">Selecione um Ativo:</label>
                <select class="form-control" id="selectAtivo">
                    {% for codigo_ativo in transacoes.keys() %}
                    <option value="{{ codigo_ativo }}">{{ codigo_ativo }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <!-- Div para exibir as transações -->
            <div id="transacoesAtivo">
                {% for codigo_ativo, dados in transacoes.items() %}
                <div class="ativo-transacoes" id="ativo-{{ codigo_ativo }}" {% if not loop.first %}style="display: none;"{% endif %}>
                    <h4 class="mt-4">Transações de {{ codigo_ativo }}</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Data Operação</th>
                                <th>Categoria</th>
                                <th>Código Ativo</th>
                                <th>Operação</th>
                                <th>Quantidade</th>
                                <th>Preço Unitário</th>
                                <th>Corretora</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transacao in dados.transacoes %}
                            <tr>
                                <td>{{ transacao[2] }}</td>
                                <td>{{ transacao[3] }}</td>
                                <td>{{ transacao[4] }}</td>
                                <td>{{ transacao[5] }}</td>
                                <td>{{ transacao[6] }}</td>
                                <td>{{ transacao[7] }}</td>
                                <td>{{ transacao[8] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>    
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Dados do gráfico enviados pelo back-end
        const totaisPorMes = {{ totais_por_mes | tojson }};
    </script>
    <script src="../static/js/transacoes/script.js"></script>
</body>
</html>
